@charset "UTF-8";
@import url('constants.css');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Press+Start+2P&display=swap');
@font-face {
    font-family: "PixelOperator";
    src: url("../fonte/PixelOperator8.ttf");
}
@font-face {
    font-family: "Pixel Emulator";
    src: url("../fonte/Pixel Emulator.otf");
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: auto;
    font-family: var(--font-main);
    background-image: radial-gradient(ellipse 56% 30% at center 45%, #2A1C40 20%, #020305 100%);
}

nav {
    color: var(--color-primary);
    font-family: var(--font-menu);
    padding: 8px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 0;
}

ul li {
    margin: 20px 0;
}

ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1em;
    font-family: var(--font-detail);
}

ul li a:hover {
    font-size: 1.2em;
}

ul li a:active {
    font-size: 0.8em;
    color: var(--color-primary);
}

.perfil {
    display: flex;
    align-items: center;
}

.apresentacao {
    margin: right;
}

.perfil img {
    display: block;
    margin-top: 50px;
}

.apresentacao h1 {
    padding: 20px;
    color: var(--color-accent);
    font-size: 2.5em;
}

.apresentacao h2 {
    margin-left: 60px;
    color: var(--color-secondary);
    font-size: 1.5em;
    font-family: var(--font-detail);
} 

.redes-sociais {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -30px;
    margin-left: -80px;
}

.redes-sociais a img {
    width: 40px;
    height: 40px;
}

#sobre {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 9vh;
    background-color: black;
    color: var(--color-secondary);
    align-items: center;
    font: normal 0.9em var(--font-main);
}

#sobre h1 {
    color: var(--color-primary);
}

#sobre p {
    text-align: justify;
    line-height: 20px;
    margin-bottom: 40px;
}

.sobre-container {
    max-width: 70%;
}

#experiencia{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 9vh 16%;
    background-color: black;
    color: var(--color-accent);
    align-items: center;
    font: normal 0.9em var(--font-detail);
    background: linear-gradient(180deg, #000000 40%, #2A1C40 100%);
}

#experiencia h1 {
    color: var(--color-primary);
}

.experiencia-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 80%;
    font-size: 0.9em;
    align-self: flex-start;
}